<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div>
            <div class="container">
                <h2>New Dojo</h2>
                <form action="/create" method="POST">
                    <label class="form-label" for="name">Name: </label>
                    <input class="form-input" type="text" name="name">
                    <br>
                    <input class="btn1" type="submit" value="create">
                </form>
            </div>
        </div>

        <div class="container">
            <h2>All Dojos</h2>
            {%for dojo in dojos: %}
                <ul class="dojo-list">
                    <li><a href="/dojo/{{dojo.id}}">{{dojo.name}}</a></li>
                </ul>
            {%endfor%}
        </div>
    </div>
    <br>
    <div class="btn-wrap">
        <a class="btn2" href="/ninja">Add Ninja</a>
    </div>
</body>
</html>